* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px 40px;

  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 0, 187);
}


button:active {
  transform: scale(0.92);
}

#ifr {
  width: 100%;
  height: auto;
  min-height: 350px;
}

#tv {
  margin-bottom: 100px;
  /* font-family: 'Press Start 2P', cursive; */
text-align: center;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  color:blueviolet;
}

#tv:hover{
  color:rgb(47, 255, 0);
  transition: 0.5s;
}

#channels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-left: 30px;
}

.tv-screen{
  padding-bottom: 100px;
}

.totallyspies{
  background-image: url(totallyspies.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 18px #a200ff;
}

.benten{
  background-image: url(benten.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 18px #15ff00;
}
.tomnjerry{
  background-image: url(tomnjerry.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 18px #ff0000;
}



.description-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 30px;
}

.description-wrap :nth-child(1){
  text-align: justify;
  border-right: dotted;
  border-color: black;
  padding-right: 15px;
}
.description-wrap :nth-child(2){
  border-right: dotted;
  border-color: black;
  padding-right: 15px;
}
.description-wrap :nth-child(3){
  text-align: justify;
}
